{block #content}
	<section class="page-section">
		<div class="container">
			<h1 n:block="title">Kontakty</h1>
				<h4 class="mt-5">Kontakt</h4>
				{box page_contact1}
				<h4 class="mt-5">Kontaktní osoby</h4>
				{box page_contact2}
		</div>
	</section>
{/block}
