{block #content}
	<section class="page-section">
			<h1 n:block="title">Kontakty</h1>
				<h4 class="mt-5">Kontaktní informace</h4>
				{box page_contact1}
				<h4 class="mt-5">Kontaktní osoby</h4>
				{box page_contact2}
	</section>
{/block}
