{block #content}
	<section class="page-section">
		<h1 n:block="title">Jídelníček</h1>
		{box menu}
		<hr class="my-5">
		<img src="{$basePath}/dist/img/alergeny.jpeg" alt="Alergeny">
	</section>
{/block}
