{block #content}
	<section class="page-section">
		<div class="container">
			<h1 n:block="title">Jídelníček</h1>
			{box menu}
			<hr class="my-5">
			<img src="{$basePath}/dist/img/alergeny.jpeg" alt="Alergeny">
		</div>
	</section>
{/block}
