php:
	date.timezone: Europe/Prague
	output_buffering: 4096

application:
	errorPresenter: Front:Error
	mapping:
		*: App\*Module\Presenters\*Presenter

services:
	router: App\RouterFactory::createRouter()
	repository: App\Service\ProjectModelRepository
	# Grid
	- App\AdminModule\Grid\StaffGridFactory
	- App\AdminModule\Grid\NewGridFactory
	# Model
	- App\Model\StaffModel
	- App\Model\ClassModel
	- App\Model\CategoryModel
	- App\Model\NewModel
	- App\Model\AuthorModel
	# Dashboard
	admin.dashboard.newpanel: App\AdminModule\Dashboard\NewPanelFactory


parameters:
	customTemplatesDir: %appDir%/FrontModule/templates/
	admin:
		menu:
			Zaměstnanci: [':Admin:Staff:', account-multiple]
			Aktuality: [':Admin:New:', pencil]
		dashboard:
			NewPanel:
				service: admin.dashboard.newpanel
				size: 3
				order: 50
	privileges:
	    admin:
	        new:
	        staff:
	dictionary:
	    admin.new: 'Aktuality / Články'
	    admin.staff: 'Zaměstnanci'