{block #title}
    <i class="icon mdi mdi-account-multiple"></i> Profily zaměstnanců
{/block}

{block #buttons}
    <a n:href="edit" class="btn btn-success">Přidat nový profil zaměstnance</a>
{/block}

{block content}
    <div class="m-admin-fix bg-white pb-2">
        {control staffGrid}
    </div>
{/block}
