{block #title}
    <i class="icon mdi mdi-pencil"></i> Aktuality
{/block}

{block #buttons}
    <a n:href="edit" class="btn btn-success">Napsat aktualitu</a>
{/block}

{block content}
    <div class="m-admin-fix bg-white pb-2">
        {control newGrid}
    </div>
{/block}