/* raleway-regular - latin-ext_latin */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	src: url('../../fonts/raleway-v22-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
	src: local(''),
	url('../../fonts/raleway-v22-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../../fonts/raleway-v22-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
	url('../../fonts/raleway-v22-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
	url('../../fonts/raleway-v22-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../../fonts/raleway-v22-latin-ext_latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-700 - latin-ext_latin */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	src: url('../../fonts/raleway-v22-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
	src: local(''),
	url('../../fonts/raleway-v22-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../../fonts/raleway-v22-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
	url('../../fonts/raleway-v22-latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */
	url('../../fonts/raleway-v22-latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../../fonts/raleway-v22-latin-ext_latin-700.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-300italic - latin-ext_latin */
@font-face {
	font-family: 'Raleway';
	font-style: italic;
	font-weight: 300;
	src: url('../../fonts/raleway-v22-latin-ext_latin-300italic.eot'); /* IE9 Compat Modes */
	src: local(''),
	url('../../fonts/raleway-v22-latin-ext_latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../../fonts/raleway-v22-latin-ext_latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
	url('../../fonts/raleway-v22-latin-ext_latin-300italic.woff') format('woff'), /* Modern Browsers */
	url('../../fonts/raleway-v22-latin-ext_latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../../fonts/raleway-v22-latin-ext_latin-300italic.svg#Raleway') format('svg'); /* Legacy iOS */
}

/* roboto-regular - latin-ext_latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url('../../fonts/roboto-v29-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
	src: local(''),
	url('../../fonts/roboto-v29-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../../fonts/roboto-v29-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
	url('../../fonts/roboto-v29-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
	url('../../fonts/roboto-v29-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../../fonts/roboto-v29-latin-ext_latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500 - latin-ext_latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	src: url('../../fonts/roboto-v29-latin-ext_latin-500.eot'); /* IE9 Compat Modes */
	src: local(''),
	url('../../fonts/roboto-v29-latin-ext_latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../../fonts/roboto-v29-latin-ext_latin-500.woff2') format('woff2'), /* Super Modern Browsers */
	url('../../fonts/roboto-v29-latin-ext_latin-500.woff') format('woff'), /* Modern Browsers */
	url('../../fonts/roboto-v29-latin-ext_latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../../fonts/roboto-v29-latin-ext_latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin-ext_latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: url('../../fonts/roboto-v29-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
	src: local(''),
	url('../../fonts/roboto-v29-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../../fonts/roboto-v29-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
	url('../../fonts/roboto-v29-latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */
	url('../../fonts/roboto-v29-latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../../fonts/roboto-v29-latin-ext_latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}


html, body {
	font-size: 17px;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	color: $gray-800
}

.body {
	background: url('../../img/bg.png') repeat-x $secondary;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}
p, span {
	line-height: 150%;
}

h1, h2, h3, h4, h5, .nav-link, .created {
	font-family: 'Raleway', sans-serif;
}

.admin {
	position: absolute;
	right: 5px;
	bottom: 5px;
	font-size: .9rem;
	color: $blue;
	transition: color .2s ease-in-out;

	&:hover {
		color: lighten($blue, 5%);
	}
}

.page {
	background: $white;
	padding: 1rem 1rem 0 1rem;
}

.page-content {
	display: grid;
	grid-template-columns: 300px 1fr;

	.nav {
		.nav-link {
			font-size: 1.2rem;
		}
	}
}

.page-section {
	h1 {
		color: $purple;
		margin-bottom: 1.5rem;
	}
}

.navbar {
	z-index: 2;
	background-color: $secondary;

	.navbar-brand {
		font-size: 1.3rem;
	}

	.navigation-toggler {
		display: flex;
		flex-direction: column;
		width: 50px;
		cursor: pointer;
		margin: 0;

		span{
			background: $primary;
			border-radius: calc(0.1px * 66.66);
			height: calc(0.07px * 66.66);
			margin: calc(0.07px * 66.66) 0;
			transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
		}

		span:nth-of-type(1){
			width:50%;
		}

		span:nth-of-type(2){
			width:100%;
		}

		span:nth-of-type(3){
			width:75%;

		}

		input[type="checkbox"]{
			display:none;
		}

		input[type="checkbox"]:checked ~ span:nth-of-type(1){
			transform-origin:bottom;
			transform:rotate(45deg) translate(calc(0.08px * 66.66),0px)
		}

		input[type="checkbox"]:checked ~ span:nth-of-type(2){
			transform-origin:top;
			transform:rotate(-45deg)
		}

		input[type="checkbox"]:checked ~ span:nth-of-type(3){
			transform-origin:bottom;
			width:50%;
			transform: translate(calc(0.3px * 66.66),calc(-0.11px * 66.66)) rotate(45deg);
		}
	}
}

// carousel
.carousel {
	position: relative;
	margin-top: 2rem;
	margin-bottom: 2rem;
	left: -15px;
	width: calc(100% + 30px);
	max-height: 400px;

	.carousel-inner {
		width: calc(100% + 30px);

		.carousel-item {
			img {
				object-fit: cover;
				min-height: 200px;
				max-height: 400px;
			}
		}
	}
}

// classes
.classes {
	position: relative;
	margin-top: 2rem;
	margin-bottom: 2rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1.5rem;

	.class {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1.5rem;
		min-height: 120px;
		color: $white;
		font-size: 1.4rem;
		border-radius: $border-radius-lg;
	}

	.sun {
		box-shadow: 0 7px 0 0 $dark-yellow;
		background: url("../../img/class_sun.png") bottom left no-repeat $yellow;
	}

	.fish {
		box-shadow: 0 7px 0 0 $dark-blue;
		background: url("../../img/class_fish.png") bottom left no-repeat $blue;
	}

	.squirrel {
		box-shadow: 0 7px 0 0 $dark-red;
		background: url("../../img/class_squirell.png") bottom left no-repeat $red;
	}

	.bug {
		box-shadow: 0 7px 0 0 $dark-green;
		background: url("../../img/class_bug.png") bottom left no-repeat $green;
	}
}

// footer
.page-footer {
	margin-top: 6rem;
	background: $dark-blue;
	display: block;
	position: relative;
	left: - 1rem;
	width: calc(100% + 2rem);
	height: auto;
	color: $white;

	.footer-flex {
		padding-top: 3rem;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 2rem;
		line-height: 160%;
		font-size: 1.1rem;

		a {
			font-weight: 700;
		}

		h3 {
			margin-bottom: 1.5rem;

			i {
				margin-right: .5rem;
			}
		}
	}

	.created {
		padding: 4rem 0;
		color: rgba($blue, .8);
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		a {
			&:hover svg {
				fill: rgba($blue, 1);
				transform: scale(1.1);
			}

			svg {
				transition: all .2s ease-in-out;
				fill: rgba($blue, .9);
				display: block;
				margin-bottom: .7rem;
				width: 130px;
				height: auto;
			}
		}
	}
}


// scroll top
#scrollTopBtn {
	display: flex;
	width: 170px;
	margin: 0 calc((100% - 170px) / 2);
	max-width: 100%;
	position: fixed;
	bottom: 0;
	padding: .5rem 1rem;
	border-radius: $border-radius $border-radius 0 0;
	z-index: 1000;
	font-size: 1.1rem;
	justify-content: center;
	flex-direction: row;
	align-items: center;
	background-color: $white;
	transition: right .5s ease-in-out;
	box-shadow: 5px 10px 18px rgba($gray-800, .2);

	&:hover {
		text-decoration: none;

	}

	i {
		margin-right: .5rem;
		color: $primary;
		font-size: 1.5rem;
	}
}

// gdpr
.gdpr {
	width: calc(100% - 2rem);
	max-width: 450px;
	position: fixed;
	right: 1rem;
	bottom: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 1.5rem;
	color: $gray-700;
	background-color: rgba($white,0.95);
	z-index: 1000;
	border-radius: $border-radius/2;

	i {
		color: $brown;
		font-size: 1.5rem;
	}
}
