html, body {
	font-size: 17px;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	color: $gray-800
}

header {

	.container {
		color: $dark-blue;
		background: linear-gradient(to right, $blue, rgba($secondary, .8));
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding: 2rem;
		text-align: center;

		.img-bg {
			display: none;
		}

		h1 {
			font-size: 1.5rem;
			color: $white;
		}
	}
}

.body {
	background: url('../../img/bg.png') repeat-x $secondary;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}
p, span {
	line-height: 150%;
}

.admin {
	position: absolute;
	right: 5px;
	bottom: 5px;
	font-size: .9rem;
	color: $blue;
	transition: color .2s ease-in-out;

	&:hover {
		color: lighten($blue, 5%);
	}
}

.page {
	background: $white;
	border-radius: 0 0 $border-radius-lg $border-radius-lg;
	padding: 1rem;
}

table {
	display: block;
	width: 100%;
	overflow-x: auto;
}

.page-content {
	margin-top: 2rem;
	display: grid;
	grid-template-columns: 1fr;

	.nav {
		.nav-link {
			font-size: 1.2rem;
		}
	}
}

.documents-list {
	list-style-type: none;
	padding-left: unset;

	li {
		margin: 0.4rem 0.4rem 0.4rem 0;
	}
}

.page-section {
	max-width: 100%;
	overflow-x: hidden;

	h1 {
		color: $purple;
		margin-bottom: 1.5rem;
	}
}

.staff-page {
	.row {
		img {
			width: 250px;
			border-radius: $border-radius-lg;
		}
	}
}
.navbar {
	z-index: 2;
	background-color: $primary;
	padding: .5rem;

	.nav-link {
		color: $white;

		&:hover {
			color: darken($white, 8%);
		}
	}

	.navbar-brand {
		color: $white;
		font-size: 1.3rem;

		&:hover {
			color: darken($white, 8%);
		}
	}

	.navigation-toggler {
		display: flex;
		flex-direction: column;
		width: 50px;
		cursor: pointer;
		margin: 0;

		span{
			background: $white;
			border-radius: calc(0.1px * 66.66);
			height: calc(0.07px * 66.66);
			margin: calc(0.07px * 66.66) 0;
			transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
		}

		span:nth-of-type(1){
			width:50%;
		}

		span:nth-of-type(2){
			width:100%;
		}

		span:nth-of-type(3){
			width:75%;

		}

		input[type="checkbox"]{
			display:none;
		}

		input[type="checkbox"]:checked ~ span:nth-of-type(1){
			transform-origin:bottom;
			transform:rotate(45deg) translate(calc(0.08px * 66.66),0px)
		}

		input[type="checkbox"]:checked ~ span:nth-of-type(2){
			transform-origin:top;
			transform:rotate(-45deg)
		}

		input[type="checkbox"]:checked ~ span:nth-of-type(3){
			transform-origin:bottom;
			width:50%;
			transform: translate(calc(0.3px * 66.66),calc(-0.11px * 66.66)) rotate(45deg);
		}
	}
}

// carousel
.carousel {
	position: relative;
	margin-top: 2rem;
	margin-bottom: 2rem;
	max-height: 400px;

	.carousel-inner {
		.carousel-item {
			img {
				object-fit: cover;
				min-height: 200px;
				max-height: 400px;
			}
		}
	}
}

.detail {
	hr {
		margin-top: 0.2rem;
	}
	.cover {
		max-height: 300px;
		width: auto;
		max-width: 100%;
		margin-bottom: 1.5rem;
	}

	.new-content {
		max-width: 700px;
	}
}

// news
.article-list {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 1.5rem;

	article {

		.article-link {
			padding: 1rem;
			display: grid;
			grid-template-columns: 1fr;
			grid-template-areas:
			"img"
			"section";
			border-radius: $border-radius-lg;
			grid-gap: .5rem;
			color: darken($dark-blue, 5%);
			background: linear-gradient(to bottom right, rgba($blue, 0.15), rgba($secondary, .08));

			img {
				grid-area: img;
				max-width: 250px;
				width: 100%;
				height: auto;
				border-radius: $border-radius-lg;
			}

			section {
				grid-area: section;
				h3 {
					color: $primary;
				}
			}

			&:hover {
				text-decoration: none;
				section {
					h3 {
						text-decoration: underline;
					}
				}
			}
		}

		.no-img {
			grid-template-areas:
			"section";
		}
	}
}

// pagination
.pagination {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	padding: .3rem 0;

	a {
		padding: .5rem;
	}

	span {
		padding: .5rem;
		background: rgba($primary, .1);
		color: $primary;
	}
}

// classes
.classes {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1rem;

	.class {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding: 1rem;
		min-height: 120px;
		color: $white;
		font-size: 1.4rem;
		gap: 1rem;
		border-radius: $border-radius-lg;
		transition: all .2s ease-in-out;

		&:hover {
			text-decoration: none;
		}

		img {
			max-width: 30px;
		}
	}

	.sun {
		background: $yellow;

		&:hover {
			background: darken($yellow, 5%);
		}
	}

	.fish {
		background: $blue;

		&:hover {
			background: darken($blue, 5%);
		}
	}

	.squirrel {
		background: $red;

		&:hover {
			background: darken($red, 5%);
		}
	}

	.bug {
		background: $green;

		&:hover {
			background: darken($green, 5%);
		}
	}
}

// footer
.page-footer {
	border-radius: $border-radius-lg $border-radius-lg 0 0;
	margin-top: 2rem;
	background: $dark-blue;
	display: block;
	position: relative;
	height: auto;
	color: $white;

	.footer-flex {
		padding-top: 3rem;
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 2rem;
		line-height: 160%;
		font-size: 1.1rem;

		a {
			font-weight: 700;
		}

		h3 {
			margin-bottom: 1.5rem;

			i {
				margin-right: .5rem;
			}
		}
	}

	.created {
		position: relative;
		left: -15px;
		width: calc(100% + 30px);
		padding: 2rem 0;
		color: rgba($blue, .8);
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background: darken($dark-blue, 5%);

		a {
			&:hover svg {
				fill: rgba($blue, 1);
				transform: scale(1.1);
			}

			svg {
				transition: all .2s ease-in-out;
				fill: rgba($blue, .9);
				display: block;
				margin-bottom: .7rem;
				width: 130px;
				height: auto;
			}
		}
	}
}


// scroll top
#scrollTopBtn {
	display: flex;
	width: 170px;
	margin: 0 calc((100% - 170px) / 2);
	max-width: 100%;
	position: fixed;
	bottom: 0;
	padding: .5rem 1rem;
	border-radius: $border-radius $border-radius 0 0;
	z-index: 1000;
	font-size: 1.1rem;
	justify-content: center;
	flex-direction: row;
	align-items: center;
	background-color: $white;
	transition: right .5s ease-in-out;
	box-shadow: 5px 10px 18px rgba($gray-800, .2);

	&:hover {
		text-decoration: none;

	}

	i {
		margin-right: .5rem;
		color: $primary;
		font-size: 1.5rem;
	}
}

// gdpr
.gdpr {
	width: calc(100% - 2rem);
	max-width: 450px;
	position: fixed;
	right: 1rem;
	bottom: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 1.5rem;
	color: $gray-700;
	background-color: rgba($white,0.95);
	z-index: 1000;
	border-radius: $border-radius/2;

	i {
		color: $brown;
		font-size: 1.5rem;
	}
}
