@include media-breakpoint-up(sm) {
	.navbar {
		.navbar-brand {
			img {
				max-width: 80px;
			}
		}
	}

	.classes {
		.class {
			padding: 1.5rem;

			img {
				max-width: 50px;
			}
		}
	}

	// scroll top
	#scrollTopBtn {
		margin: unset;
		bottom: 2rem;
		padding: .8rem 1.2rem;
		right: -170px;
		font-size: 1.2rem;
		justify-content: space-evenly;
		border-radius: $border-radius 0 0 $border-radius;

		&:hover {
			text-decoration: none;

		}

		i {
			margin-right: .5rem;
			color: $primary;
			font-size: 1.5rem;
		}
	}

	.carousel {
		.carousel-inner {
			.carousel-item {
				img {
					border-radius: $border-radius-lg;
				}
			}
		}
	}
}

@include media-breakpoint-up(md) {
	.classes {
		.class {
			flex-direction: row;

			img {
				max-width: 60px;
			}
		}
	}

	// pagination
	.pagination {
		display: inline-block;
		margin-top: 1rem;
		border: 2px solid rgba($primary, .1);
		overflow: hidden;
		padding: .3rem 0;

		a {
			padding: .5rem;
		}

		span {
			padding: .5rem;
			background: rgba($primary, .1);
		}
	}

	.article-list {
		article {
			.article-link {
				grid-template-columns: 250px 1fr;
				grid-gap: 1.5rem;
				grid-template-areas:
				"img section";

				img {

				}

				section {
					position: relative;

					time {
						position: absolute;
						top: -.5rem;
						right: -.5rem;
						font-size: .9rem;
						padding: .2rem .5rem;
						font-weight: 500;
						background: rgba($secondary, .3);
						border-radius: $border-radius-lg;
					}

					h3 {
						margin-top: 1.3rem;
					}

					.perex {

					}

					.author {

					}
				}
			}

		}
	}
}

@include media-breakpoint-up(lg) {
	header {
		.container {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 2rem;
			text-align: left;
			border-radius: 0 0 $border-radius-lg $border-radius-lg;


			h1 {
				font-size: 1.8rem;
				max-width: 600px;
			}

			img {
				display: block;
				max-height: 200px;
			}
		}
	}

	.collapse {
		display: none;
	}


	.navbar {
		padding: 0;

		.navbar-brand {
			font-size: 1.6rem;
		}

		.navigation-toggler {
			display: none;
		}
	}

	.carousel {
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
	}

	.classes {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		margin-bottom: 1.5rem;

		.class {
			flex-direction: column;
			font-size: 1.7rem;
			justify-content: flex-start;
		}

	}

	.page {
		border-radius: $border-radius-lg;
	}

	.page-content {
		grid-gap: 2rem;
		grid-template-columns: fit-content(300px) 1fr;

		.flex-column {
			border-top: 2px solid rgba($primary, .1);
			border-radius: $border-radius-lg;

			.nav-link {
				border-right: 2px solid rgba($primary, .2);
				border-left: 2px solid rgba($primary, .1);
				transition: all .2s ease-in-out;

				&:hover {
					background: rgba($primary, .1);
				}
			}
		}
	}

	.page-footer {
		.footer-flex {
			padding: 2rem 1.5rem 1.5rem 1.5rem;
			grid-template-columns: 1fr 1fr;
		}
	}
}

@include media-breakpoint-up(xl) {
	.classes {
		.class {
			flex-direction: row;
		}
	}
}
